{
  "AppSettings": {
    "SourcePath": "YOUR_IMAGE_REPOSITORY_FOLDER",
    "ThumbnailDbDir": "YOUR_TEMP_FOLDER",
    "Extensions": [ ".bmp", ".BMP", ".jpg", ".JPG", ".jpeg", ".JPEG", ".png", ".PNG" ],
    "ThumbnailPrefix": "th_",
    "ThumbnailSize": 100,
    "HashImagePrefix": "ih_",
    "HashImageSize": 30
  }
}